### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

from plotly.offline import plot, iplot, init_notebook_mode
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [2]:
data = pd.read_csv('heart_failure_clinical_records_dataset.xls')

In [3]:
data.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

### EDA

In [4]:
data.shape

(299, 13)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [10]:
data.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.000000,299.00000,299.000000,299.000000,299.00000,299.000000,299.00000
mean,60.833893,0.431438,581.839465,0.418060,38.083612,0.351171,263358.029264,1.39388,136.625418,0.648829,0.32107,130.260870,0.32107
std,11.894809,0.496107,970.287881,0.494067,11.834841,0.478136,97804.236869,1.03451,4.412477,0.478136,0.46767,77.614208,0.46767
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,25100.000000,0.50000,113.000000,0.000000,0.00000,4.000000,0.00000
25%,51.000000,0.000000,116.500000,0.000000,30.000000,0.000000,212500.000000,0.90000,134.000000,0.000000,0.00000,73.000000,0.00000
50%,60.000000,0.000000,250.000000,0.000000,38.000000,0.000000,262000.000000,1.10000,137.000000,1.000000,0.00000,115.000000,0.00000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.40000,140.000000,1.000000,1.00000,203.000000,1.00000
max,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,850000.000000,9.40000,148.000000,1.000000,1.00000,285.000000,1.00000

In [ ]:
data.isnull().sum()

In [ ]:
sns.set_style('darkgrid')
sns.set_palette('coolwarm')

In [ ]:
sns.distplot(data['age'])

In [ ]:
for i in data.columns:
    plt.figure()
    plt.hist(data[i],density=True)

In [ ]:
data_corr = data.corr()

In [ ]:
data_corr

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(data_corr,annot = True, cmap = 'coolwarm' ,vmin=-1)

In [ ]:
data_corr[np.absolute(data_corr['DEATH_EVENT']) > 0.1]['DEATH_EVENT']

In [ ]:
data.age.value_counts(ascending=False)

In [ ]:
x = data[(data['age'] > 45)
          & (data['DEATH_EVENT'] == 1)]

In [ ]:
len(x)

In [ ]:
data[data['DEATH_EVENT'] == 1]

 
***Out of 96 positive death events 89 of these were the cases where the age of the deceased was greater than 45 .***

***Lets have a look on if sex(gender) & a few other attributes of an individual has something to say***

In [ ]:
male = data[data['sex'] == 1]
male_death = male[male['DEATH_EVENT']==1]
male_alive = male[male['DEATH_EVENT']==0]
male_death.head()

In [ ]:
male_alive.head()

In [ ]:
female = data[data['sex'] == 0]
female_death = female[female['DEATH_EVENT']==1]
female_alive = female[female['DEATH_EVENT']==0]
female_death.head()

In [ ]:
female_alive.head()

## Gender

In [ ]:
labels = ['Male' ,'Female']

values = [len(data[data['sex']==1]) , len(data[data['sex']==0])]

fig = go.Figure(data=[go.Pie(labels=labels,values=values , hole =.4)])

fig.update_layout(
    title_text = "Gender Distribution")

fig.show()

In [ ]:
labels = ['Male - Survived','Male - Not Survived', "Female -  Survived", "Female - Not Survived"]
values = [len(male[data["DEATH_EVENT"]==0]),len(male[data["DEATH_EVENT"]==1]),
         len(female[data["DEATH_EVENT"]==0]),len(female[data["DEATH_EVENT"]==1])]
fig = go.Figure(data=[go.Pie(labels=labels, values=values, hole=.4)])
fig.update_layout(
    title_text="Survival Analysis- Gender")
fig.show()

## Diabetes

In [ ]:
labels = ['No','Yes']
diabetes_yes = data[data['diabetes']==1]
diabetes_no = data[data['diabetes']==0]
values = [len(diabetes_no), len(diabetes_yes)]
fig = go.Figure(data=[go.Pie(labels=labels, values=values, hole=.4)])
fig.update_layout(
    title_text="Analysis on Diabetes")
fig.show()

In [ ]:
diabetes_yes_survi = diabetes_yes[data["DEATH_EVENT"]==0]
diabetes_yes_not_survi = diabetes_yes[data["DEATH_EVENT"]==1]
diabetes_no_survi = diabetes_no[data["DEATH_EVENT"]==0]
diabetes__no_not_survi = diabetes_no[data["DEATH_EVENT"]==1]

In [ ]:
labels = ['Diabetes Yes - Survived','Diabetes Yes - Not Survived', 'Diabetes NO - Survived', 'Diabetes NO - Not Survived']
values = [len(diabetes_yes[data["DEATH_EVENT"]==0]),len(diabetes_yes[data["DEATH_EVENT"]==1]),
         len(diabetes_no[data["DEATH_EVENT"]==0]),len(diabetes_no[data["DEATH_EVENT"]==1])]
colors = ['gold', 'mediumturquoise', 'fuchsia', 'lightgreen']
fig = go.Figure(data=[go.Pie(labels=labels, values=values, hole=.4)])
fig.update_layout(
    title_text="Analysis on Survival - Diabetes")
fig.update_traces(hoverinfo='label+percent', textinfo='value', textfont_size=20,
                  marker=dict(colors=colors, line=dict(color='#000000', width=2)))
fig.show()

## Anaemia

In [ ]:
anaemia_yes = data[data['anaemia']==1]
anaemia_no = data[data['anaemia']==0]

In [ ]:
labels = ['Yes' , 'No']
values = [len(anaemia_yes) , len(anaemia_no)]

fig = go.Figure(data =[go.Pie(labels=labels, values=values ,hole=.4)])
fig.update_layout(
    title_text = 'Anaemia Analysis',
    )
fig.show()

In [ ]:
anaemia_yes_survived = anaemia_yes[anaemia_yes['DEATH_EVENT']==0]
anaemia_yes_not_survived = anaemia_yes[anaemia_yes['DEATH_EVENT']==1]

anaemia_no_survived = anaemia_no[anaemia_no['DEATH_EVENT']==0]
anaemia_no_not_survived = anaemia_no[anaemia_no['DEATH_EVENT']==1]

In [ ]:
labels = ['Anaemia Yes - Survived','Anaemia Yes - Not Survived', 'Anaemia No - Survived', 'Anaemia NO - Not Survived']
values = [len(anaemia_yes_survived), len(anaemia_yes_not_survived), len(anaemia_no_survived), len(anaemia_no_not_survived)]

colors = ['cyan','midnightblue','magenta','yellow']
fig = go.Figure(data =[go.Pie(labels=labels, values=values ,hole=.4)])
fig.update_layout(
    title_text = 'Survival Analysis - Anaemia')
fig.update_traces(hoverinfo='label+percent', textinfo='value', textfont_size=20,
                  marker=dict(colors=colors, line=dict(color='#000000', width=2)))
fig.show()

## High Blood Pressure

In [ ]:
hbp_yes = data[data['high_blood_pressure']==1]
hbp_not = data[data['high_blood_pressure']==0]

In [ ]:
labels = ['High Blood Pressure' ,'Not High Blood Pressure']
values = [len(hbp_yes) , len(hbp_not)]
fig = go.Figure(data =[go.Pie(labels=labels, values=values ,hole=.4)])
fig.update_layout(
    title_text = 'High Blood Pressure Analysis')
fig.show()

In [ ]:
high_bp_survived = hbp_yes[hbp_yes['DEATH_EVENT']==0]
high_bp_survived_not = hbp_yes[hbp_yes['DEATH_EVENT']==1]
not_high_bp_survived = hbp_not[hbp_not['DEATH_EVENT']==0]
not_high_bp_not_survived = hbp_not[hbp_not['DEATH_EVENT']==1]

In [ ]:
labels = ['High BP - Survived' , 'High BP - Not Survived' , 'Not High BP - Survived' , 'Not High BP - Not Survived']
values = [len(high_bp_survived) , len(high_bp_survived_not) ,len(not_high_bp_survived) ,len(not_high_bp_not_survived)]

colors=['aqua','mistyrose']
fig = go.Figure(data =[go.Pie(labels=labels, values=values ,hole=.4)])
fig.update_layout(
    title_text = 'Survival Analysis - High Blood Pressure')
fig.update_traces(hoverinfo='label+percent', textinfo='value', textfont_size=20,
                  marker=dict(colors=colors, line=dict(color='#000000', width=2)))
fig.show()

## Smoking

In [ ]:
smoking_yes = data[data['smoking']==1] 
smoking_no  = data[data['smoking']==0]

In [ ]:
label = ['Yes' ,'No']
values = [len(smoking_yes),len(smoking_no)]

fig = go.Figure(data =[go.Pie(labels=labels, values=values ,hole=.4)])
fig.update_layout(
    title_text = 'Smoking Analysis')
fig.show()

In [ ]:
smoking_yes_surv = smoking_yes[smoking_yes['DEATH_EVENT']==0]
smoking_yes_not_surv = smoking_yes[smoking_yes['DEATH_EVENT']==1]
smoking_no_surv = smoking_no[smoking_no['DEATH_EVENT']==0]
smoking_no_not_surv = smoking_no[smoking_no['DEATH_EVENT']==1]

In [ ]:
labels = ['Smoking Yes - Survived','Smoking Yes - Not Survived', 'Smoking No - Survived', 'Smoking NO- Not Survived']
values = [len(smoking_yes_surv), len(smoking_yes_not_surv), len(smoking_no_surv), len(smoking_no_not_surv)]

fig = go.Figure(data =[go.Pie(labels=labels, values=values ,hole=.4)])
fig.update_layout(
    title_text = 'Survival Analysis - Smoking')
fig.show()

## Data Modelling

***Train Test Split***

In [6]:
X = data.drop('DEATH_EVENT',axis=1)
y = data['DEATH_EVENT']

In [7]:
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train ,y_test = train_test_split(X,y,test_size=0.2 , random_state=101)

In [8]:
X_train.shape , X_test.shape , y_train.shape , y_test.shape

((239, 12), (60, 12), (239,), (60,))

# Baseline Logistic Regression

***Pipelines***

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [10]:
from sklearn.pipeline import Pipeline
pipeline = Pipeline([
    ('scaler', StandardScaler()),   #Step1 - normalize data
    ('clf', LogisticRegression())       #Step2 - classifier
])
pipeline.steps

[('scaler', StandardScaler()), ('clf', LogisticRegression())]

In [11]:
from sklearn.model_selection import cross_validate

scores = cross_validate(pipeline, X_train, y_train)
scores

{'fit_time': array([0.00564313, 0.00487399, 0.00528932, 0.00503469, 0.00462127]),
 'score_time': array([0.00140238, 0.00147629, 0.00149751, 0.00126648, 0.00140285]),
 'test_score': array([0.79166667, 0.89583333, 0.8125    , 0.77083333, 0.78723404])}

In [12]:
scores['test_score'].mean()

0.811613475177305

***Finding an "optimal" 'k' for K-Means ***

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
k = range(1,30)
error_rate = []

for i in k:
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_test)
    error_rate.append(np.mean(y_pred != y_test))

In [15]:
plt.figure(figsize=(10,6))
plt.plot(k,error_rate,color='b',ls='--',marker='o',markerfacecolor='red',markersize=10)
plt.xticks(k)
plt.xlabel('K-Value')
plt.ylabel('Error Rate')
plt.title('Error Rate vs K')

NameError: name 'plt' is not defined

# Pipelining Multiple Classifiers

In [16]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

clfs = []
clfs.append(LogisticRegression())
clfs.append(SVC())
clfs.append(KNeighborsClassifier(n_neighbors=13))
clfs.append(DecisionTreeClassifier())
clfs.append(RandomForestClassifier())
clfs.append(GradientBoostingClassifier())

for classifier in clfs:
    pipeline.set_params(clf = classifier)
    scores = cross_validate(pipeline, X_train, y_train)
    print('---------------------------------')
    print(str(classifier))
    print('-----------------------------------')
    for k, v in scores.items():
            print(k,' mean ', v.mean())

---------------------------------
LogisticRegression()
-----------------------------------
fit_time  mean  0.005037164688110352
score_time  mean  0.0013483047485351562
test_score  mean  0.811613475177305
---------------------------------
SVC()
-----------------------------------
fit_time  mean  0.003871583938598633
score_time  mean  0.0013755321502685546
test_score  mean  0.7781914893617021
---------------------------------
KNeighborsClassifier(n_neighbors=13)
-----------------------------------
fit_time  mean  0.003138446807861328
score_time  mean  0.0027278900146484376
test_score  mean  0.7448581560283689
---------------------------------
DecisionTreeClassifier()
-----------------------------------
fit_time  mean  0.0032544612884521486
score_time  mean  0.0012096881866455079
test_score  mean  0.773936170212766
---------------------------------
RandomForestClassifier()
-----------------------------------
fit_time  mean  0.08458061218261718
score_time  mean  0.006897258758544922
test_score  mean  0.8368794326241135
---------------------------------
GradientBoostingClassifier()
-----------------------------------
fit_time  mean  0.052916860580444335
score_time  mean  0.0015032768249511718
test_score  mean  0.815868794326241

In [17]:
from sklearn.metrics import accuracy_score , f1_score , roc_auc_score

 #  XgBoost

In [18]:
from xgboost import XGBClassifier
xgb = XGBClassifier(learning_rate = 0.005)
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)


from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

/home/sagar/miniconda3/envs/ml/lib/python3.7/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[15:02:46] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.8333333333333334

# LGBM , cuz why not ? xD

In [ ]:
from lightgbm import LGBMClassifier
lgb = LGBMClassifier()
lgb.fit(X_train,y_train)
y_pred = lgb.predict(X_test)

In [ ]:
print(accuracy_score(y_test,y_pred))
print('F1-score: ',f1_score(y_test,y_pred))
print('Roc_Auc_Score: ',roc_auc_score(y_test,y_pred))

In [ ]:
from sklearn.model_selection import GridSearchCV

# **Random Forest Classifier**

In [19]:
rfc = RandomForestClassifier()

In [20]:
rfc.fit(X_train,y_train)
y_pred = rfc.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(roc_auc_score(y_test,y_pred))

0.9
0.8125
0.8888888888888888

In [21]:
X_train.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
189,40.0,0,244,0,45,1,275000.0,0.9,140,0,0,174
194,45.0,0,582,0,20,1,126000.0,1.6,135,1,0,180
158,85.0,1,910,0,50,0,235000.0,1.3,134,1,0,121
9,80.0,1,123,0,35,1,388000.0,9.4,133,1,1,10
33,50.0,1,159,1,30,0,302000.0,1.2,138,0,0,29

In [22]:
features_imp = pd.DataFrame({'feature': X_train.columns, 'importance': rfc.feature_importances_}).sort_values(by='importance', ascending=False)
features_imp = features_imp.reset_index()
features_imp

    index                   feature  importance
0      11                      time    0.326912
1       7          serum_creatinine    0.134653
2       4         ejection_fraction    0.133280
3       0                       age    0.122008
4       2  creatinine_phosphokinase    0.082744
5       6                 platelets    0.079750
6       8              serum_sodium    0.059582
7      10                   smoking    0.013452
8       9                       sex    0.013201
9       1                   anaemia    0.012894
10      5       high_blood_pressure    0.011115
11      3                  diabetes    0.010410

***Lets try to use only the features that has some significance***

In [23]:
X = data[['time','serum_creatinine','ejection_fraction','age']]
y = data['DEATH_EVENT']

In [24]:
from sklearn.model_selection import train_test_split
X_train , X_test ,y_train ,y_test = train_test_split(X,y,test_size=0.2 , random_state=2698)

In [25]:
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)

y_pred = rfc.predict(X_test)
print(accuracy_score(y_test,y_pred))
print(f1_score(y_test,y_pred))
print(roc_auc_score(y_test,y_pred))

0.95
0.888888888888889
0.9402618657937807

**Quite an improvement , lets see if we can stretch it even more**

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'max_depth': [80, 90, 100, 110],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Instantiate the grid search model
grid = GridSearchCV(estimator = rfc, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)
grid.fit(X,y)

grid.best_estimator_

In [ ]:
rfc_tuned = RandomForestClassifier(max_depth=100,min_samples_leaf=3,
                       min_samples_split=12 , random_state=108)

In [ ]:
rfc_tuned.fit(X_train,y_train)

y_pred = rfc.predict(X_test)

print("""
------------------------
Random Forest Classifier
------------------------""")

print('Accuracy score: ',accuracy_score(y_test,y_pred))
print('F1 - Score: ',f1_score(y_test,y_pred))
print('ROC_AUC Score: ',roc_auc_score(y_test,y_pred))

# Checking out a few other classifiers , just out of curiosity​

In [ ]:
gbt = GradientBoostingClassifier()
gbt.fit(X_train,y_train)
y_pred = gbt.predict(X_test)
print("""
---------------------------
Gradient Boosted Classifier
---------------------------""")
print('Accuracy score: ',accuracy_score(y_test,y_pred))
print('F1 - Score: ',f1_score(y_test,y_pred))
print('ROC_AUC Score: ',roc_auc_score(y_test,y_pred))

In [26]:
xgb = XGBClassifier()
xgb.fit(X_train,y_train)

y_pred = xgb.predict(X_test)
print("""
------------------
XgBoost Classifier
------------------""")
print('Accuracy score: ',accuracy_score(y_test,y_pred))
print('F1 - Score: ',f1_score(y_test,y_pred))
print('ROC_AUC Score: ',roc_auc_score(y_test,y_pred))

[15:03:38] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

------------------
XgBoost Classifier
------------------
Accuracy score:  0.95
F1 - Score:  0.896551724137931
ROC_AUC Score:  0.9680851063829787

/home/sagar/miniconda3/envs/ml/lib/python3.7/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

# XgBoost Classifier has the best F1-Score and ROC_AUC_Score among all other classifiers,Since the data was quite imbalanced accuracy wouldn't really be the right measure to evaluate the models . Moreover with tuning XgBoost idk what astonishing results you'd be able to get

# It's my first notebook on kaggle and i would like to contribute more ,I am open to any and all criticisms and suggestions . If you ever get around this notebook and have some suggestions for me , please drop it in the comments.

# If you like this notebook , Please upvote it .